/* Style for site layout  */
/* Starting with basic foundation */


/* Temp hide content */

#team-title {
	visibility: hidden;
}

ul {
	visibility: hidden;
}

/*p {
	visibility: hidden;
}*/

#img-bro {
	visibility: hidden;
}

/* Start with setting main areas of site utilize outline to highlight */

/* HEADER */
header {
	position: fixed;
	width: 100%;
	height: 100px;
    top: 0px;
	z-index: 0;
	border: 3px solid #000000; /* Black */
	background-image: url("/assets/images/sample-header.jpg");
	background-size: contain;
	
}

	/* LOGO */
	.logo-contain {
		position: inherit;
		height: 100px;
		width: 25%;
		border: 2px solid black;	
	}

	/* TITLE */
	.title-contain {
		position: relative;
		height: 65%;
		width: 100%;
		left: 25%;
		border: 2px solid yellow;
	}

	/* NAV */
	.nav-contain {
		position: relative;
		height: 30%;
		width: 100%;
		left: 25%;
		border: 2px solid white;
	}

/* ARTICLE */

article {
	position: fixed;
	height: 100%;
	right: 0px;
	width: 100%;
	top: 0px;
	z-index: -2;
	border: 3px solid #0000FF; /* Blue */
	background-image: url("/assets/images/sample-article.jpg");
	background-size: contain;
}



aside {
	visibility: hidden;
    position: fixed;
	height: 100%;    
    right: 0px;
    width: 60%;
	border: 3px solid #00FF00; /* Green */
	background-image: url("/assets/images/sample-aside.jpg");
	background-size: contain;
}

/* SIDBAR 'Section' */

section {
	position: fixed;
	left: 0px;
	width: 25%;
	height: 100%;
	top: 0px;
	z-index: -1;
	border: 3px solid #FF0000; /* Red */
	background-image: url("/assets/images/sample-section.jpg");
	background-size: contain;
}

.leag-1 {
	position: relative;
	top: 15%;
	border: 2px solid blue;
	height: 200px;
	width: initial;
}

/* FOOT */

footer {
	position: fixed;
	bottom: 0px;
	height: 50px;
	width: 100%;
	z-index: -1;
	border: 3px solid #E1E419; /* Gross yellow */
	background-image: url("/assets/images/sample-footer.jpg");
	background-size: contain;
}














